.container {
    border-radius: 5px;
    background: #fff;
    box-shadow: 5px 5px 5px 5px rgba(132, 132, 132, 0.25);
    z-index: 10;
    width: 100%;
    padding: 30px 62px 15px;
    border: 1px solid #eaeaea;
  }
  
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .contentWrapper {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .contentWrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .sidebarLeft {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .sidebarLeft {
      width: 100%;
    }
  }
  
  .locationHeader {
    display: flex;
    width: 100%;
    align-items: start;
    gap: 28px 81px;
    font-family: Inter, sans-serif;
    justify-content: start;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .locationHeader {
      margin-top: 40px;
    }
  }
  
  .locationWrapper {
    display: flex;
    min-width: 240px;
    width: 319px;
    gap: 20px;
    color: #000;
    white-space: nowrap;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .locationWrapper {
      white-space: initial;
    }
  }
  
  .locationTitle {
    display: flex;
    gap: 3px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .locationIcon {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: start;
  }
  
  .settingsWrapper {
    align-self: start;
    display: flex;
    margin-top: 4px;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
  }
  
  .settingsIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    margin: auto 0;
  }
  
  .quickBrowseBar {
    border-radius: 5px;
    background: #fffefe;
    display: flex;
    min-width: 240px;
    min-height: 30px;
    width: 320px;
    align-items: center;
    gap: 40px 55px;
    font-size: 10px;
    color: #333;
    font-weight: 500;
    justify-content: space-between;
    padding: 7px;
    border: 1px solid #e5e5e5;
  }
  
  .browseContent {
    align-self: stretch;
    display: flex;
    gap: 4px;
    width: 233px;
    margin: auto 0;
  }
  
  .browseIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .mainContent {
      width: 100%;
    }
  }
  
  .ratingSection {
    position: relative;
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-direction: column;
    font-family: Inter, sans-serif;
    color: #000;
    font-weight: 700;
  }
  
  @media (max-width: 991px) {
    .ratingSection {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .navigationBar {
    border-radius: 5px;
    background: #ededed;
    position: relative;
    z-index: 0;
    display: flex;
    min-height: 40px;
    max-width: 100%;
    width: 949px;
    align-items: center;
    gap: 40px 222px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    justify-content: start;
    padding: 2px 3px;
  }
  
  .sidebarRight {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .sidebarRight {
      width: 100%;
    }
  }
  
  .infoSection {
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-direction: column;
    font-family: Inter, sans-serif;
    color: #000;
  }
  
  @media (max-width: 991px) {
    .infoSection {
      margin-top: 40px;
    }
  }
  
  .contactButton {
    align-self: stretch;
    width: 100%;
    border-radius: 5px;
    background: #fffefe;
    margin-top: 12px;
    min-height: 50px;
    max-width: 100%;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 90px 16px 100px;
    border: 1px solid #e5e5e5;
  }
  
  @media (max-width: 991px) {
    .contactButton {
      padding: 0 20px;
    }
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }