/* 主容器，居中对齐整个内容 */
.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

/* 内部包装容器 */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* 卡片样式 */
.card {
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(132, 132, 132, 0.25);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

/* 主内容区域，水平分布 */
.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

/* 图表选择区域 */
.chartSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%; /* 固定左侧宽度 */
}

/* 图表选择控件 */
.chartControls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chartTypeSelect {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #fff;
}

.predictButton {
  background-color: #6520bd;
  color: #fff;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Price Card 列表区域 */
.priceGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); /* 增加每列的最小宽度为 200px */
  gap: 20px; /* 增加卡片之间的间距 */
  width: 60%; /* 控制 `priceGrid` 的宽度 */
  justify-items: center;
}

/* 每个 Price Card 样式 */
.priceCard {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* 使每个卡片的宽度填满它所在的列 */
  max-width: 250px; /* 设置最大宽度 */
}

.priceLabel {
  font-size: 16px;
  color: #261bc3;
  margin-bottom: 10px;
}

.priceChart {
  background-color: #f3f3f3;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #f5f5f5;
}

/* 信息区域 Info Section */
.infoSection {
  width: 20%; /* 右侧固定宽度 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoCard {
  background-color: #fff;
  border: 2px solid #281dc0;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.infoTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin: 10px 0;
}

.infoButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.contactButton {
  background-color: #fffefe;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
